Repository CollapseLauncher/Collapse, pull requests merged in 2023-10, with the labels that each got.

#287 Implement SimpleDialog for Force Updating in Metered Connection
  Hi3Helper.Core/Lang/zh_CN.json
Labels: Area: Translation

#278 Dependencies Update, New Tray Behavior, and some random improvements :)
  CollapseLauncher/App.xaml
  CollapseLauncher/App.xaml.cs
  CollapseLauncher/Classes/Properties/ArgumentParser.cs
  CollapseLauncher/Classes/Properties/InnerLauncherConfig.cs
  CollapseLauncher/CollapseLauncher.csproj
  CollapseLauncher/Program.cs
  CollapseLauncher/Properties/PublishProfiles/Publish-PreviewRelease.pubxml
  CollapseLauncher/Properties/PublishProfiles/Publish-StableRelease.pubxml
  CollapseLauncher/Properties/launchSettings.json
  CollapseLauncher/XAMLs/MainApp/MainPage.xaml
  CollapseLauncher/XAMLs/MainApp/MainWindow.xaml
  CollapseLauncher/XAMLs/MainApp/Pages/SettingsPage.xaml
  CollapseLauncher/XAMLs/MainApp/Pages/SettingsPage.xaml.cs
  CollapseLauncher/XAMLs/MainApp/TrayIcon.xaml
  CollapseLauncher/XAMLs/MainApp/TrayIcon.xaml.cs
  CollapseLauncher/packages.lock.json
  Directory.Build.props
  Hi3Helper.Core/Lang/Locale/LangMisc.cs
  Hi3Helper.Core/Lang/en_US.json
Labels: Enhancement, Fixed, Area: Runtime, Area: Launcher, Area: UI/UX

#289 Add metered network for update
  CollapseLauncher/Classes/EventsManagement/EventsHandler.cs
  CollapseLauncher/XAMLs/MainApp/Pages/Dialogs/SimpleDialogs.cs
  CollapseLauncher/XAMLs/MainApp/Pages/SettingsPage.xaml.cs
  Hi3Helper.Core/Lang/Locale/LangDialogs.cs
  Hi3Helper.Core/Lang/en_US.json
  Hi3Helper.Core/Lang/zh_CN.json
Labels: Enhancement, Area: Launcher, Area: UI/UX

#292 Sync and proofread zh-CN translation
  Hi3Helper.Core/Lang/en_US.json
  Hi3Helper.Core/Lang/zh_CN.json
Labels: Area: Translation

#298 Fix Win2D trimming for HDR calibration
  CollapseLauncher/CollapseLauncher.csproj
Labels: Bug, Area: UI/UX

#302 Load Genshin graphics settings from ``globalPerfData``
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/Enums/Enums.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/GeneralData.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/GlobalPerfData.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/GraphicsData.cs
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.Ext.cs
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.xaml
Labels: Bug, Game: Genshin Impact, Area: UI/UX
