Repository CollapseLauncher/Collapse, pull requests merged in 2023-09, with the labels that each got.

#238 Refine home page link & bg
  CollapseLauncher/Classes/BackgroundManagement/BackgroundManagement.cs
  CollapseLauncher/Classes/RegionManagement/RegionManagement.cs
  CollapseLauncher/CollapseLauncher.csproj
  CollapseLauncher/XAMLs/MainApp/Pages/HomePage.xaml
  CollapseLauncher/XAMLs/MainApp/Pages/HomePage.xaml.cs
  CollapseLauncher/packages.lock.json
  Hi3Helper.Core/Classes/Shared/ClassStruct/Class/RegionResource.cs
Labels: Enhancement, Area: Runtime, Area: Launcher

#265 Add links to social media popup panel
  CollapseLauncher/Classes/RegionManagement/RegionClasses.cs
  CollapseLauncher/Classes/RegionManagement/RegionManagement.cs
  CollapseLauncher/XAMLs/MainApp/Pages/HomePage.xaml
  CollapseLauncher/XAMLs/MainApp/Pages/HomePage.xaml.cs
Labels: Enhancement, Area: UI/UX

#262 Implement HDR Settings to Genshin GSP
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/GeneralData.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/ScreenManager.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/WindowsHDR.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/Settings.cs
  CollapseLauncher/Classes/RegistryMonitor/RegistryMonitor.cs
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.Ext.cs
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.xaml
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.xaml.cs
  CollapseLauncher/XAMLs/MainApp/Pages/StarRailGameSettingsPage.xaml
  Hi3Helper.Core/Lang/Locale/LangGenshinGameSettingsPage.cs
  Hi3Helper.Core/Lang/en-us.json
Labels: Enhancement, Game: Genshin Impact

#274 [Fix] Return null when Steam path is not found
  CollapseLauncher/Classes/InstallManagement/BaseClass/InstallManagerBase.cs
  Hi3Helper.Core/Classes/Data/Tools/SteamTool.cs
Labels: Bug, Area: Runtime

#270 Add HDR calibration to GI settings page
  CollapseLauncher/Assets/Images/GenshinHDRCalibrationScene.jxr
  CollapseLauncher/Assets/Images/GenshinHDRCalibrationSign.png
  CollapseLauncher/Assets/Images/GenshinHDRCalibrationUI.jxr
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.Ext.cs
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.xaml
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.xaml.cs
  CollapseLauncher/XAMLs/MainApp/ValueConverters.cs
  Hi3Helper.Core/Lang/Locale/LangGenshinGameSettingsPage.cs
  Hi3Helper.Core/Lang/en-us.json
Labels: Enhancement, Game: Genshin Impact, Area: UI/UX

#276 Adjustments for Genshin 4.1.0 update
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/GeneralData.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/RegistryClass/WindowsHDR.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/Genshin/Settings.cs
  CollapseLauncher/Classes/InstallManagement/BaseClass/InstallManagerBase.cs
  CollapseLauncher/CollapseLauncher.csproj
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.Ext.cs
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.xaml
  CollapseLauncher/XAMLs/MainApp/Pages/GenshinGameSettingsPage.xaml.cs
  CollapseLauncher/XAMLs/MainApp/Pages/HomePage.xaml.cs
  CollapseLauncher/packages.lock.json
  Hi3Helper.Core/Classes/Shared/Region/LauncherConfig.cs
  Hi3Helper.Core/Lang/Locale/LangGenshinGameSettingsPage.cs
  Hi3Helper.Core/Lang/en-us.json
Labels: Enhancement, Game: Genshin Impact, Area: Runtime
