Repository CollapseLauncher/Collapse, pull requests merged in 2024-01, with the labels that each got.

#355 Avoid another infinity number on repair progress percentage
  CollapseLauncher/Classes/Interfaces/Class/ProgressBase.cs
  CollapseLauncher/XAMLs/MainApp/Pages/CachesPage.xaml.cs
  CollapseLauncher/XAMLs/MainApp/Pages/RepairPage.xaml.cs
Labels: Bug, Area: UI/UX

#360 Launch/open a region using the command line
  CollapseLauncher/Classes/Properties/AppActivation.cs
  CollapseLauncher/Classes/Properties/ArgumentParser.cs
  CollapseLauncher/Program.cs
  CollapseLauncher/XAMLs/MainApp/MainPage.xaml.cs
  CollapseLauncher/XAMLs/MainApp/Pages/HomePage.xaml.cs
Labels: Enhancement, Area: Launcher

#368 URL Protocol support
  CollapseLauncher/Classes/Properties/AppActivation.cs
  CollapseLauncher/Classes/Properties/ArgumentParser.cs
Labels: Enhancement

#380 Ab warning dialog
  CollapseLauncher/Classes/EventsManagement/EventsHandler.cs
  CollapseLauncher/Classes/GameManagement/GameSettings/StarRail/RegistryClass/Model.cs
  CollapseLauncher/XAMLs/MainApp/Pages/Dialogs/SimpleDialogs.cs
  CollapseLauncher/XAMLs/MainApp/Pages/GameSettingsPage.xaml.cs
  CollapseLauncher/XAMLs/MainApp/Pages/StarRailGameSettingsPage.xaml.cs
  Hi3Helper.Core/Lang/Locale/LangUnhandledExceptionPage.cs
  Hi3Helper.Core/Lang/en_US.json
Labels: Area: Game Settings
